<h1>Listing channels</h1>


<div class="notice">
  <%= notice %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.name %></td>
    <td><%= channel.description %></td>
    <td><%= link_to 'Show', channel %></td>
    <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
    <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Will remove the channel and all posts in it, are you sure?' } %></td>
    <td><%= link_to 'New Post', new_channel_post_path(channel) %></td>
    <% if channel.subscribed? @current_username %>
      <td>
        <%= link_to 'Cancel Subscription', 
                    channel_subscription_path(channel, channel.find_subscription(@current_username)), 
                    :method => :delete %>
      </td>
    <% else %>
      <td>
        <%= link_to 'Subscribe', channel_subscriptions_path(channel), :method => :post%>
      </td>
    <% end %>
    <td><%= link_to 'RSS', channel_url(channel, :rss) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Channel', new_channel_path %>
