<%= link_to 'Back', channels_path %>
<% @channel.posts.order.order('created_at desc').each do |post| %>
<div class="article">
  <div class="article_title">
    <div class="article_title_text">
      <%= link_to post.title, channel_post_path(post) %>
    </div>
    <div class="article_pubDate"><%= post.created_at.to_s(:db) %></div>
    <div class="clear_float"></div>
  </div>
  <div class="article_content">
    <%= post.content %>
  </div>
  <% if post.image %>
  <div class="article_image">
    <%= image_tag channel_post_image_path(@channel, post)%>
  </div>
  <div class="clear_float"></div>
  <% end %>
  <div class="article_operations">
    <ul>
      <li>
        <%= link_to 'Edit', edit_channel_post_path(@channel, post) %>
      </li>
      <li>
        <%= link_to 'View', channel_post_path(@channel, post) %>
      </li>
      <li class="last">
        <%= link_to 'Delete', 
                    channel_post_path(@channel, post), 
                    :method => :delete, 
                    :confirm =>'are you sure?' %>
      </li>
    </ul>
  </div>
</div>
<% end %>
