<%= form_for [@post.channel, @post], :html => {:enctype => 'multipart/form-data'} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title, :class => 'post_title_field' %>
  </div>
  <div class="field">
    <h3><%= f.label :content %><h3>
    <%= f.text_area :content, :class => 'post_content_field' %>
  </div>
  <div class="field">
    <h3>Upload a picture</h3>
    <%= file_field_tag :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
